@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a simple Student Activitiy Sign Up C# application using Entity Framework 6 and the Code First Approach.</p>
