@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Andrew Nally<br />
   Los Angeles, CA 90069<br />
    <abbr title="Phone">P:</abbr>
    630.921.9465
</address>

<address>
    <strong>Feedback is Greatly Appreciated</strong>   <a href="mailto:Andrew_Nally@outlook.com">Email me!</a><br />
    <strong>Like My Work?</strong> <a href="mailto:DevDrewTyler@gmail.com">Hire Me!</a>
</address>