`@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Academy C# Final Assignment</h1><h2>ASP.NET-EF-CodeFirst</h2></br></br>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
     
    <div class="col-md-4">
        <h2>View My Code</h2>
        <p>Posted on GitHub</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866"></a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Work</h2>
        <p>View My Portfolio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"></a></p>
    </div>
</div>